In [1]:
import pandas as pd
df = pd.read_csv("data.csv")

In [2]:
df["email"].head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [3]:
df.email.head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
type(df.email)

pandas.core.series.Series

In [6]:
df[10:20]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0

In [7]:
df.loc[10:13]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0

In [10]:
df_email = df.set_index("email")
df_email.loc['hharridge1@gnu.org']

id                         2
date              03/19/2021
first_name             Hinda
last_name           Harridge
gender                Female
ip_address    210.51.172.132
country               Canada
price_paid             $8.32
tax                      NaN
Name: hharridge1@gnu.org, dtype: object

In [11]:
type(df_email.loc['hharridge1@gnu.org'])

pandas.core.series.Series

In [12]:
df_email.loc['hharridge1@gnu.org'].values

array([2, '03/19/2021', 'Hinda', 'Harridge', 'Female', '210.51.172.132',
       'Canada', '$8.32', nan], dtype=object)

In [13]:
df_email.loc['hharridge1@gnu.org'].values.tolist() # transforme en objet python

[2,
 '03/19/2021',
 'Hinda',
 'Harridge',
 'Female',
 '210.51.172.132',
 'Canada',
 '$8.32',
 nan]

In [15]:
df_email.loc[['ekilminster2@etsy.com', 'hharridge1@gnu.org']]

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN